* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-repeat: repeat;
  background: linear-gradient(to bottom, black, grey);
  min-height: 175vh;
  min-width: 100%;
}

header {
  background-color: red;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

h1 {
  display: flex;
  margin-top: 2vw;
  margin-left: 2vw;
  text-shadow: 4px 4px black;
  -webkit-text-stroke: 2px black;
  color: #f8e12e;
  justify-content: flex-start;
  align-content: flex-start;
  font: 700 3em "Oswald", sans-serif;
}

.subtitulo {
  display: flex;
  position: absolute;
  background-color: black;
  color: white;
  padding: 1vw;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  align-content: center;
  font: 700 1.5em "Oswald", sans-serif;
}

.subtitulo:hover {
  text-decoration: underline 2px #f8e12e;
}

.imagenLogo {
  display: flex;
  position: absolute;
  background-color: transparent;
  width: 15vw;
  bottom: 0;
  right: 4vw;
}

.imagenLogo:hover {
  transition: 1s;
  transform: scale(110%);
}

main {
  display: flex;
  position: absolute;
  top: 30vh;
}

.caja1 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 20vw;
}

.button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 1vh;
  border: 2px solid black;
  margin: 2vh;
  text-align: center;
  background-color: black;
  color: #ffffff;
  border-radius: 4%;
  font: 200 1em "Oswald", sans-serif;
}

.button:hover {
  background-color: #f8e12e;
  color: black;
  font-weight: bolder;
  transform: scale(110%);
  transition: 100ms;
}

.caja2 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-height: 100vh;
  min-width: 50vw;
  padding-top: 2vh;
  padding-left: 4vh;
  color: #ffffff;
}

.caja2 > p {
  margin-top: 1.5vh;
  margin-left: 2vh;
  margin-bottom: 3vh;
}

.caja2 > h3 {
  margin-bottom: 2vh;
  color: #f8e12e;
}

.caja3 {
  background-color: transparent;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 100vh;
  min-width: 30vw;
}

#hockey1,
#hockey2 {
  width: 25vw;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2vh;
  margin-left: 2vh;
  border-radius: 2%;
}

#hockey3 {
  width: 26vw;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2vh;
  border-radius: 2%;
}

article {
  margin-bottom: 4vh;
}

article > h3,
li > h3,
li > p {
  margin-bottom: 2vh;
  margin-right: 4vw;
}

ol > li {
  margin-right: 4vw;
}

.margenLi {
  margin-bottom: 2vh;
  list-style-position: inside;
}

span {
  color: #5fa199;
}

#list-style-2 {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-top: 1vh;
}

article > h3 {
  color: #f8e12e;
}

article > p,
#parrafo-article {
  margin-right: 4vw;
}

ul > li {
  list-style-position: inside;
  margin-right: 4vw;
}

li > h3 {
  color: #5fa199;
}
.caja2 > h2 {
  color: #c34c34;
}

table {
  height: 50vh;
  width: 40rem;
  border-spacing: 2px;
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

caption {
  margin-bottom: 2vh;
  color: #5fa199;
  text-align: left;
}

thead {
  color: #c34c34;
  font-weight: bold;
  font-size: large;
}

strong {
  color: #f8e12e;
}

#parrafo1,
#parrafo3 {
  margin-bottom: 2vh;
}

#parrafo2 {
  margin-bottom: 4vh;
  margin-right: 20vw;
}

#parrafo4{
  display: inline-block;
  width: 20vw;
  margin-right: 4vw;
}

#parrafo5{
  display: inline-block;
  width: 30vw;
}


a {
  color: #5fa199;
}

fieldset{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding:10px;
  margin-bottom: 2vh;
  text-align: center;
}

fieldset>legend{
  color: #f8e12e;
}
fieldset>input{
  width: 23vw;
}

#adress{
  width: 61vw;
}

#city{
  width: 34vw;
}

#zipCode{
  width: 24vw;
}

#female,#male{
  width: 4vw;
}

#date{
  width: 24vw;
}

#preSchool, #primero, #segundo, #tercero, #cuarto, #quinto{
  width: 2vw;
}

#forward, #defense, #midfield, #goalkeeper{
  width: 2vw;
}

fieldset>p{
  text-align: justify;
}

#pgSignature, #datePermission{
  width: 20vw;
}
